/* line 18, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.toolbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* line 25, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.menu {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  font-family: system-ui, sans-serif;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 38, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.left {
  display: flex;
  align-items: center;
}

/* line 42, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.logo {
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -125px -305px;
  opacity: 1;
  margin: 0;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.logo:hover {
  opacity: 0.8;
}

/* line 47, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.search-bar {
  box-sizing: border-box;
  height: 26px;
  margin: 10px 10px;
  border: 1px solid #3b5998;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

/* line 57, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.search-bar > .search-input {
  height: 25px;
  padding: 0 5px;
  border: 0;
  outline: none;
  font-size: 14px;
}

/* line 65, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.search-bar > .search-btn {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -25 -257px;
  opacity: 0.6;
  color: #1d2129;
  background-color: #f6f7f9;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.search-bar > .search-btn:hover {
  opacity: 0.8;
}

/* line 71, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.logo, .social, .login {
  cursor: pointer;
}

/* line 74, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.right div:hover, .right [class*='fa-']:hover {
  color: black;
}

/* line 77, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.right {
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

/* line 84, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item {
  display: flex;
  padding: 0 10px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

/* line 93, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item:not(.header-item--image):hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 97, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.home {
  color: #fff;
  padding-left: 10px;
  height: 25px;
}

/* line 102, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.profile-img {
  border-radius: 50%;
  height: 25px;
}

/* line 108, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--friends {
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -150px -305px;
  opacity: 0.6;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--friends:hover {
  opacity: 0.8;
}

/* line 111, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--messeges {
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -125px -330px;
  opacity: 0.6;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--messeges:hover {
  opacity: 0.8;
}

/* line 114, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--notifications {
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -25px -330px;
  opacity: 0.6;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--notifications:hover {
  opacity: 0.8;
}

/* line 117, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--help {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: 0 -380px;
  opacity: 0.6;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--help:hover {
  opacity: 0.8;
}

/* line 120, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--menu {
  width: 13px;
  height: 13px;
  display: block;
  padding: 0;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
  background-repeat: no-repeat;
  background-size: 283px 401px;
  background-position: -110px -380px;
  opacity: 0.6;
}

/* line 13, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-item.header-item--menu:hover {
  opacity: 0.8;
}

/* line 125, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_header.scss */
.header-separator {
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 18px;
}

/* line 11, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_container.scss */
body {
  background-color: #e9ebee;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 18, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_container.scss */
.container {
  width: 100%;
  margin: 12px auto auto auto;
  top: 43px;
  position: absolute;
  display: flex;
  justify-content: center;
}

/* line 28, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_container.scss */
.content {
  display: grid;
  width: calc(100% - $sidebar-width);
  margin-left: 12px;
  grid-template-columns: 500px 1fr;
  column-gap: 12px;
  height: 1000px;
}

/* line 12, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.sidebar-div {
  width: 180px;
}

/* line 16, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.sidebar {
  display: block;
  position: fixed;
}

/* line 21, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-item {
  padding: 0 10px;
  cursor: pointer;
  border-radius: 3px;
  color: #1d2129;
}

/* line 27, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-item.nav-item-title {
  color: #616770;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

/* line 35, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-profile-img {
  border-radius: 50%;
  height: 20px;
}

/* line 40, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li, .profile {
  padding: 5px 0;
  font-size: 14px;
  color: #1d2129;
}

/* line 45, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li:hover, .profile:hover {
  background: #f6f7f9;
}

/* line 49, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-messenger, .profile > .nav-item-messenger {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1092px;
}

/* line 52, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-newsfeed, .profile > .nav-item-newsfeed {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1554px;
}

/* line 55, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-marketplace, .profile > .nav-item-marketplace {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1510px;
}

/* line 58, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-group, .profile > .nav-item-group {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1422px;
}

/* line 61, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-events, .profile > .nav-item-events {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1224px;
}

/* line 64, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-groups, .profile > .nav-item-groups {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1422px;
}

/* line 67, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-pages, .profile > .nav-item-pages {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1554px;
}

/* line 70, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-saved, .profile > .nav-item-saved {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1664px;
}

/* line 73, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-onthisday, .profile > .nav-item-onthisday {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1532px;
}

/* line 76, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-li > .nav-item-friendlists, .profile > .nav-item-friendlists {
  height: 20px;
  display: inline-block;
  padding-left: 25px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/qYCRD9Uiu0_.png);
  background-repeat: no-repeat;
  background-size: 36px 2702px;
  background-position: 0 -1466px;
}

/* line 81, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-list {
  list-style-type: none;
}

/* line 85, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_navbar.scss */
.nav-img {
  border-radius: 50%;
  height: 25px;
}

/* line 20, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.yourmind {
  width: 500px;
  background-color: white;
  height: 155px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
}

/* line 27, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.yourmind > .mind-header {
  height: 33px;
  width: 100%;
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}

/* line 36, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.yourmind > .mind-center {
  height: 72px;
  display: flex;
  align-items: center;
}

/* line 42, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.yourmind > .mind-footer {
  border-top: 1px solid #e9ebee;
  margin: 0 12px;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

/* line 51, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-separator {
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 14px;
}

/* line 57, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-profile-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0.35px solid #1d2129;
  margin: 0 0 0 12px;
}

/* line 65, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-item {
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 0 20px;
  cursor: pointer;
}

/* line 71, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-item.mind-item-makepost {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/vYrZOMM--l-.png);
  background-repeat: no-repeat;
  background-size: 22px 560px;
  background-position: 0px -356px;
  color: #1d2129;
}

/* line 75, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-item.mind-item-photovideo {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/vYrZOMM--l-.png);
  background-repeat: no-repeat;
  background-size: 22px 560px;
  background-position: 0px -374px;
  color: #365899;
}

/* line 79, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-item.mind-item-livevideo {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/vYrZOMM--l-.png);
  background-repeat: no-repeat;
  background-size: 22px 560px;
  background-position: 0px -320px;
  color: #365899;
}

/* line 85, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-form {
  width: 100%;
}

/* line 88, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-form .mind-text {
  color: grey;
  font-size: 14px;
  margin-left: 12px;
  border: none;
  overflow: auto;
  outline: none;
  border-width: 0;
  resize: none;
  font-family: Helvetica, Arial, sans-serif;
  width: 90%;
  padding: 0;
}

/* line 102, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-footer-item {
  background: #f6f7f9;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #4b4f56;
  padding: 10px;
}

/* line 115, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-footer-item-photo {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/qOkDam899PW.png);
  background-repeat: no-repeat;
  background-size: 32px 2728px;
  background-position: 0px -506px;
  padding: 8px 0 0 25px;
}

/* line 119, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-footer-item-feeling {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/qOkDam899PW.png);
  background-repeat: no-repeat;
  background-size: 32px 2728px;
  background-position: 0px -264px;
  padding: 8px 0 0 25px;
}

/* line 123, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.mind-footer-item-dots {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/qOkDam899PW.png);
  background-repeat: no-repeat;
  background-size: 32px 2728px;
  background-position: 0px -1012px;
  padding: 8px 0 0 25px;
}

/* line 128, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item {
  width: 500px;
  background-color: white;
  border-radius: 4px;
  margin-top: 12px;
  border: 1px solid #dddfe2;
}

/* line 136, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-profile {
  display: flex;
  align-items: center;
}

/* line 140, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-profile author {
  padding: 0 10px;
  color: #4267b2;
  font-weight: bold;
  font-size: 14px;
}

/* line 147, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-profile .post-button {
  height: 15px;
  padding: 0 2px;
  cursor: pointer;
}

/* line 155, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-profile-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0.35px solid #1d2129;
  margin: 12px 0 0 12px;
}

/* line 163, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-text {
  display: flex;
  flex-direction: column;
}

/* line 167, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-text span {
  margin: 12px;
}

/* line 171, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_content.scss */
.post-item .post-text img {
  width: 100%;
  margin: 0;
}

/* line 1, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_related.scss */
.related {
  width: 300px;
  height: 155px;
}

/* line 6, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_related.scss */
.aside-item {
  background-color: white;
  color: #616770;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

/* line 16, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_related.scss */
.aside-item .story > .aside-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

/* line 24, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_related.scss */
.stories {
  height: 182px;
}

/* line 28, C:/Users/IZY/Documents/GitHub/FACEBOOK/scss/_related.scss */
.suggested {
  margin-top: 12px;
  overflow: hidden;
}

/*# sourceMappingURL=../css/styles.map */