// _colors.scss
$bg-blue: #4267b2;
$bg-gray: #e9ebee;
$bg-light-gray: #f6f7f9;
$font-color: #1d2129;
$header-color: #fff;
$post-bg-color: white;
$mind-blue-color: #365899;
$border: 1px solid #dddfe2;
$border-black: 0.35px solid #1d2129;

// _sizes.scss
$header-height: 43px;
$content-width: 100%;
$right-width: 500px;
$line-height: 25px;
$post-width: 500px;
$mind-post-height: 155px;
$mind-title-height: 33px;
$related-width: 300px;
$related-stories-height: 182px;
$related-suggested-height: 350px;
$border-radius: 4px;