@mixin item-image-nav($width, $height, $x, $y, $opacity: 0.6) {
    width: $width;
    height: $height;
    display: block;
    padding: 0;
    margin: 0 10px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/7buBeDBWoMm.png);
    background-repeat: no-repeat;
    background-size: 283px 401px;
    background-position: $x $y;
    opacity: $opacity;

    &:hover {
        opacity: 0.8;
    }
}

.toolbar{
    top: 0;
    position: fixed;
    width: $content-width;
}

.menu {
    background-color: $bg-blue;
    border-bottom: 1px solid #29487d;
    font-family: system-ui, sans-serif;
    color: $header-color;
    box-sizing: border-box;
    width: $content-width;
    height: $header-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.left {
    display: flex;
    align-items: center;
}
.logo{
    @include item-image-nav(24px, 24px, -125px, -305px, 1);
    margin: 0;
}

.search-bar{    
    box-sizing: border-box;
    height: 26px;
    margin: 10px 10px;
    border: 1px solid #3b5998;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    display: flex;

    > .search-input{
        height: $line-height;
        padding: 0 5px;
        border: 0;
        outline: none;
        font-size: 14px;
    }

    > .search-btn{
        @include item-image-nav(20px, 20px, -25, -257px);
        color: $font-color;
        background-color: #f6f7f9;
    }
} 
.logo, .social, .login {
    cursor: pointer;
}
.right div:hover, .right [class*='fa-']:hover {
    color: black;
}
.right {
    display: flex;
    align-items: center;
    color: $header-color;
    overflow: hidden;
}
  
.header-item {
    display: flex;
    padding: 0 10px;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    
    &:not(.header-item--image):hover {
      background: rgba(0,0,0,0.1);
    }
}  
.home{
    color: $header-color;
    padding-left: 10px;
    height: $line-height;
}
.profile-img{
    border-radius: 50%;
    height: $line-height;
}

.header-item {
    &.header-item--friends {
      @include item-image-nav(24px, 24px, -150px, -305px);
    }
    &.header-item--messeges {
      @include item-image-nav(24px, 24px, -125px, -330px);
    }
    &.header-item--notifications {
      @include item-image-nav(24px, 24px, -25px, -330px);
    }
    &.header-item--help {
      @include item-image-nav(20px, 20px, 0, -380px);
    }
    &.header-item--menu {
      @include item-image-nav(13px, 13px, -110px, -380px);
    }
  }
  
.header-separator {
    background: rgba(0, 0, 0, .1);
    width: 1px;
    height: 18px;
  }